NODE_ENV=production
PORT=3001
DB_HOST=postgres
DB_PORT=5432
DB_NAME=ladys_laundry
DB_USER=ladys_user
DB_PASSWORD=ladys_password_2024
JWT_SECRET=ladys_jwt_secret_super_seguro_2024
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:3000
